body{
    margin:0px;
    font-family:Arial;
    color: #fff;
    background-color: #000;
    min-height:100vh;
    display: flex;
    flex-direction: column;
}

header{
    position:relative;
    overflow:hidden;
}

header>nav{
    display:flex;
    flex-direction:row;
    padding:0.5em;
}

.content{
    max-width: 900px;
    margin: 2em auto 2em auto;
    box-sizing:border-box;
    flex:1;
    width:100%;
    padding: 1em;
    overflow: hidden;
    background-color: #fff1;
}

@media only screen and (max-width: 900px) {
    .content{
        margin: 2em auto 0em auto;
    }
}

footer{
    line-height:100px;
    text-align:center;
    background-color:#fff2;
    color:#eee;
}

.selector{
    display:inline-block;
    border: 2px #888 solid;
    border-radius:0.3em;
    overflow:hidden;
    vertical-align: bottom;
    line-height: 1em;
}

.selector>span{
    display: inline-block;
    padding: 0.2em;
    background-color: #666666;
}

.selector>span:hover{
    background-color: #373737;
}

.selector>span.selected{
    background-color: #373737;
}



.btn{
    display: inline-block;
    padding: 0.5em;
    border: 2px #888 solid;
    background-color: #e7e7e7;
    color: #000;
    border-radius: 0.5em;
    margin: 1em;
    font-weight: 900;
}


.btn:hover{
    background-color: #ffffff;
}

header{
    width:100%;
    height:100%;
    text-align:center;
    overflow:hidden;
}

header h1{
    font-size:6vw;
}

header h2{
    font-size:3vw;
    font-weight:100;
}

header p{
    font-size:1.5rem;
    padding:0px 3em;
}

@media only screen and (max-width: 600px) {
    header h1{
        font-size:10vw;
    }
    header h2{
        font-size:1.5em;
    }
    header p{
        font-size:1em;
    }
}

@media only screen and (min-width: 1000px) {
    header h1{
        font-size:60px;
    }
    header h2{
        font-size:30px;
    }
}

.content h2{
    font-size:2em;
    text-align:center;
}



